div{
    color: blue;  
    font-size: 16px;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
    box-shadow: 2px 2px 5px gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
h4{
    color: green;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1px;
}  
input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 200px;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: center;
    justify-self: center;
}
button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    animation: hoverEffect 0.3s ease;
    
}
:hover{
    color: #000;
}